

.needs-detail {
  margin: 20px;
  border-top: 1px solid black;
}

.occupation {
  background-color: grey;
  text-align: center;
  width: 30%;
  font-size: 40px;
  color: white;
  margin-bottom: 20px;
  border-radius: 20px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
