
.explanation-content {
  font-weight: bold;
  font-size: 25px;
  font-family: 'M PLUS Rounded 1c', sans-serif;

}
.explanation-title {
  font-size: 50px;
  font-family: 'Londrina Shadow', cursive;
}
