

.occupation-button {
  height: 160px;
  width: 85%;
  border: 3px solid #000000;
  margin: 20px;
  text-align: center;
  line-height: 140px;
  font-size: 20px;
  border-radius: 20px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: bold;
}

.occupation-button:hover{
  opacity: 0.5;
}

p {
  width: 55%;
  /* height: 20%; */
  background-color: white;
  display: inline-block;
  opacity: 0.7;
  border-radius: 20px;
  line-height: 55px;
}

.title-top {
  font-size: 40px;
  font-family: 'M PLUS Rounded 1c', sans-serif;

}

.occupation-button-0 {
  background-image: url("house.jpeg");
}
.occupation-button-1 {
  background-image: url("doctor.jpeg");
}
.occupation-button-2 {
  background-image: url("office.jpeg");
}
.occupation-button-3 {
  background-image: url("pirot.jpeg");
}
.occupation-button-4 {
  background-image: url("cook.jpeg");
}
.occupation-button-5 {
  background-image: url("agriculture.jpeg");
}
.occupation-button-6 {
  background-image: url("teacher.jpeg");
}
.occupation-button-7 {
  background-image: url("kaigo.jpeg");
}
.occupation-button-8 {
  background-image: url("factory.jpeg");
}
